{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_staff %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="row">
                <div class="col-12">
                    <h1>All Orders</h1>
                </div>
            </div>
            <!-- Search Toolbar -->
            <div class="row orders-toolbar">
                <div class="col">
                    <form action="" method="POST" id="order-search" name="order-search">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-4 col-orders-toolbar">
                                <label for="search-order-text" class="form-label search-box-label">Search:</label>
                                {% if selected_text %}
                                <input id="search-order-text" placeholder="Search..." name="search-order-text" class="form-control search-box me-1" type="text" value="{{ selected_text }}">
                                {% else %}
                                <input id="search-order-text" placeholder="Search..." name="search-order-text" class="form-control search-box me-1" type="text">
                                {% endif %}
                            </div>
                            <div class="col ms-md-4">
                                <label for="search-status" class="form-label search-box-label">Status:</label>
                                <select name="search-status" class="form-select" aria-label="Select status">
                                    <option value="0">Any Status</option>
                                    {% for status in all_status %}
                                        {% if status.status_id == selected_status.id %}
                                            <option value="{{ status.status_id }}" selected>{{ status.status_name }}</option>
                                        {% else %}
                                            <option value="{{ status.status_id }}">{{ status.status_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-2 ms-md-4 col-orders-toolbar">
                                <input type="submit" class="btn btn-success search-buttons">
                            </div>
                            <div class="col-12 col-md-2 col-orders-toolbar">
                                <a href="{% url 'get_orders' %}" class="btn btn-secondary search-buttons">Reset</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Search Toolbar -->
            <div class="row top-margin">
                <div class="col col-md-2 desktop-visibility">
                    <p>Order</p>
                </div>
                <div class="col col-md-2 desktop-visibility">
                    <p>Customer</p>
                </div>
                <div class="col col-md-2 desktop-visibility">
                    <p>Date</p>
                </div>
                <div class="col col-md-2 desktop-visibility">
                    <p>Total</p>
                </div>
                <div class="col col-md-2 desktop-visibility">
                    <p>Status</p>
                </div>
                <div class="col col-md-2 desktop-visibility">

                </div>
            </div>
            {% if not orders %}
            <h1>No Results</h1>
            {% else %}
            {% for order in orders %}

            <div class="row">
                <div class="col-12 col-md-2">
                    <p><span class="mobile-visibility">Order:</span> {{ order.order_number }}</p>
                </div>
                <div class="col-12 col-md-2">
                    <p><span class="mobile-visibility">Customer:</span> {{ order.first_name }} {{ order.last_name }}</p>
                </div>
                <div class="col-12 col-md-2">
                    <p><span class="mobile-visibility">Date:</span> {{ order.date|date:"d M y" }}</p>
                </div>
                <div class="col-12 col-md-2">
                    <p><span class="mobile-visibility">Total:</span> £{{ order.grand_total }}</p>
                </div>
                <div class="col-12 col-md-2">
                    <p><span class="mobile-visibility">Status:</span> {{ order.status }}</p>
                </div>
                <div class="col-12 col-md-2">
                    <a href="{% url 'view_order_details' order.order_number %}" class="btn col-12 btn-primary">View
                        Order</a>
                </div>
            </div>
            <hr>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2>Access Denied</h2>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}