{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1>Your Shopping Cart</h1>
            <div class="row">
                <div class="col col-lg-8 offset-lg-2">
                    {% if cart_items %}

                    {% for item in cart_items %}
                    <div class="cart-card">
                        <form action="{% url 'amend_cart' item.product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <p><strong>{{ item.product.name }}</strong></p>
                                </div>
                                <div class="col cart-text-pading">
                                    <p style="padding-top: 3px;">Quantity:</p>
                                </div>
                                <div class="col">
                                    <input class="product-quantity" type="number" name="quantity"
                                        value="{{ item.quantity }}" min="1" max="50" data-item_id="{{ item.id }}"
                                        id="id_qty_{{ item.id }}" style="width: 50px;">
                                </div>
                                <div class="col">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Update">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                                <div class="col">
                                    <a href="{% url 'remove_product_from_cart' item.product.id %}" class="btn btn-sm btn-danger">Remove</a>
                                </div>
                            </div>
                        </form> 
                        <div class="row">
                            <div class="col text-end">
                                <p>Product total: £{{ item.line_total }}</p>
                            </div>
                        </div>
                        
                        
                    </div>
                    {% endfor %}
                    <div class="card cart-total">

                            <div class="row">
                                <div class="col text-end">
                                    <p>Delivery £{{ delivery }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-end">
                                    <p>Total £{{ grand_total }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-end">
                                    <a href="{% url 'checkout' %}" class="btn btn-primary">Check Out</a>
                                </div>
                            </div>
                            

                    </div>
                        {% else %}
                        <p>Your cart is empty</p>
                        <a href="{% url 'products' %}">Go to Products</a>
                        {% endif %}
                    
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}