{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1>Shopping Cart</h1>
            <div class="row">
                <div class="col">
                    <h2>Items in your cart</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if cart_items %}
                    <div class="table-responsive rounded">

                    </div>
                    {% else %}
                    <p>Your cart is empty</p>
                    <a href="{% url 'products' %}">Go to Products</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}