{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <div class="row">
                <div class="col">
                    <h1>About Owery</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p>The heart and spirit of Owery has taken decades to craft. Beginning with a hands-on, traditional apprenticeship initially focusing on the very grass roots of joinery to concluding in the fascinating and beautiful world of antique furniture restoration.</p>

                    <p>Owery was always my vision, my opportunity to truly realise and deliver my own unique style of creativity and artistry. Married with my natural, pioneering nature, compelling me to always combine the continuity, honesty and beauty of classic, traditional skills with current trends and innovations, ensures Owery work is always contremporary and relevant to today's consumers wants and needs.</p>
                    
                    <p>Handcrafting Kitchens has always been at the heart of Owery, however, our passion is the craft and artistry of working with the most natural of materials, wood, so we are often asked to use our talent, expertise and knowledge to create bespoke furniture for any area within the home or indeed business.</p> 
                    
                    <p>When our customers feedback comments such as...</p>
                    
                    <p>"Owery did a truly amazing job, not only producing a spectacular kitchen, but also removing all the pressure and making the whole experience an absolute pleasure."</p>
                    
                    <p>It's those moments that are priceless to us.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}