{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <div class="row">
                <div class="col">
                    <h1>Contact Owery</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p><i class="fas fa-phone"></i> 01823 690032</p>
                    <p><i class="fas fa-mobile-alt"></i> 07779 088884</p>
                    <p>It can be very loud in our workshop so if we don't manage to pick up please leave us a message and we will return your call as soon as we can.</p>
                    <p>paul @ owery.co.uk</p>

                    <p>
                        <i class="fas fa-door-open"></i>
                        OWERY FARM<br>
                        Othery<br>
                        Taunton<br>
                        Somerset<br>
                        TA3 7PC<br>
                    </p>

                    <p>We are always happy for people to pop into our workshop and visit us. Please quickly call first to make sure we're not out on-site fitting</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}