{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid my-container">
        <div class="row home-page align-items-center my-row">
            {% for category in categories %}
            <div class="col-12 col-md-8 offset-md-1 col-lg-8 offset-lg-2 my-col">
                <a href="{% url 'filtered_products' category_id=category.id %}" class="home-links">Shop {{ category.friendly_name }} </a>
            </div>
            {% endfor %}
            
        </div>
    </div>
    
{% endblock %}