{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid my-container">
        <div class="row home-page align-items-center home-row">
            <div class="col-12 col-lg-8 offset-lg-2 my-col">
                <a href="#" class="home-links">Shop Skirting Boards</a>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 my-col">
                <a href="#" class="home-links">Shop Architraves</a>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 my-col">
                <a href="#" class="home-links">Shop Window Boards</a>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 my-col">
                <a href="#" class="home-links">Shop Doors</a>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 my-col">
                <a href="#" class="home-links">Shop Ironmongery</a>
            </div>
        </div>
    </div>
    
{% endblock %}