{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="row">
                <div class="col">
                    <h1>Order Confirmation</h1>
                </div>
            </div>
            <div class="row">                
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p>Thank you for your order {{ order }}</p>
                    <div class="col-12">
                        {% for item in order_items %}
                        <div class="order-summary-card">
                            <div class="row">
                                <div class="col-9">
                                    <p><strong>{{ item.product.name }}</strong></p>
                                </div>
                                <div class="col-3">
                                    <p>Price: £{{ item.product.price }}</p>
                                </div>
                            </div>
                            
                            <p>Quantity: {{ item.quantity }} </p>
                        </div>
                        {% endfor %}
                        
                        <div class="cart-card">
                            <p class="text-end">Grand Total: <strong>£{{ order.grand_total }}</strong></p>
                        </div>

                    </div>
                    <p>A confirmation email has been sent to the {{ order.email }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="col-12 col-md-6 offset-md-3">
                        {% for category in categories %}
                        <a href="{% url 'filtered_products' category_id=category.id %}" class="btn btn-owery top-margin">Shop {{ category.friendly_name }} <i class="fas fa-arrow-circle-right"></i></a>
                        {% endfor %}
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
