@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFDD8B;
}
.top-margin {
    margin-top: 10px;
}
h1 {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
}
.row {
    --bs-gutter-x: 0;
}
.my-container {
    background: url('/media/pilton.jpg');
    background-position: center;
    background-size: cover;
}
.my-row {
    padding-top: 96px;
    padding-bottom: 60px;
}
.my-nav {
    background-color: #383533;
}
.nav-cart-icon {
    float: right;
    color: #f1f1f1;
    margin-left: 40px;
}
.nav-cart-icon a {
    text-decoration: none;
}
.nav-cart-text {
    display: none;
}
.nav-cart-number {
    display: inline-block;
    background-color: #F0AE0E;
    width: 17px;
    height: 17px;
    font-size: 10px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 50%;
    color: #383533;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.home-page {
    height: 100vh;
}
.home-page i {
    font-size: 4em;
}

.home-links {
    background-color: #F0AE0E;
    color: #383533;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
.home-links:hover {
    background-color: #FFDD8B;
    color: #383533;
}
.btn-owery {
    background-color: #F0AE0E;
    display: inline-block;
    color: #383533;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
.btn-owery:hover {
    background-color: #FFDD8B;
    color: #383533;
}
.my-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #383533;
    color: #f1f1f1;
    border-top: #F0AE0E solid 5px;
    font-size: small;
}
.my-footer div ul {
    list-style-type: none;
    padding: 0;
}
/* Toast */
.message-container {
    position: fixed;
    top: 76px;
    right: 0px;
    z-index: 99999999999;
}
.toast-body {
    text-shadow: 2px 2px 3px rgb(53, 53, 53);
}
/** Specific styling for procuts **/
.product {
    background-color: #F0AE0E;
    border: none;
    max-width: 400px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.product p {
    font-size: 13px;
    padding: 10px;
}
.product-name {
    width: 100%;
    background-color: #383533;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.product h3 {
    font-size: 14px;
    line-height: 38px;
    color: #f1f1f1;
    display: inline-block;
    margin: 0;
}
.product-details {
    height: 170px;
}
.product-purchase {
    background-color: #383533;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    color: #f1f1f1;
}
.product-purchase p {
    font-size: 14px;
    margin: 0px;
}
.product-quantity {
    border-radius: 5px;
    text-align: center;
}
.product-add-to-cart {
    display: block;
    background-color: #7EC5DB;
    border-radius: 0px 0px 5px 5px;
}
/** Specific CSS for the shopping cart **/
.cart-total {
    background-color: #FFDD8B;
    border: 0px;
}
/** Specific CSS for the checkout **/
.order-summary {
    font-size: 11px;
}
.cart-card {
    margin-bottom: 10px;
    border-bottom: 1px solid #383533;
}
.order-summary-card {
    font-size: 11px;
    margin-bottom: 5px;
    border-bottom: 1px solid #383533;
}
.order-summary-card p {
    margin-bottom: 5px;
}
.stripe-style-input {
    margin-bottom: 10px;
}
#card-element {
    border: 1px solid #cacaca;
    padding-top: 10px;
    padding-bottom: 10px;
}
#card-errors {
    color: #df4759;
    padding-bottom: 10px;
    padding-top: 10px;
}
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0ac0e5d;
    z-index: 9999;
}
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
@media (min-width: 992px) {
    .nav-cart-icon {
        display: none;
    }
    .nav-cart-text {
        display: list-item;
    }
    .home-links {
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 6px;
        line-height: 60px;
    }
    .product img {
        max-width: 125px;
    }
}
