{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="row">
                <div class="col">
                    <h1>{% trans "Set Password" %}</h1>
                </div>
            </div>
            <div class="row">                
                <div class="col-12 col-lg-6 offset-lg-3">
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-primary top-margin"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
    

    
{% endblock %}
