{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="row">
                <div class="col">
                    <h1>{% trans "Change Password" %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}