{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <div class="row">
                <div class="col">
                    <h1>Server Error 500</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <h2>We're afraid the page you're after has generated a 500 error.</h2>
                    <a href="{% url 'home' %}" class="btn btn-lg col-12 btn-primary">Owery Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}