{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<!-- Form for editing a current product. Must be a superuser -->
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1>Add a new product</h1>
            <form action="{% url 'add_product' %}" method="POST" id="add-product-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary top-margin">Add Product</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2>Access Denied</h2>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}