{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1>Products</h1>
            <div class="row justify-content-around">
                {% for product in products %}
                <div class="card col-12 product">
                    <div class="row">
                        <div class="col product-name">
                            <h3>{{ product.name|title }}</h3>
                        </div>
                    </div>


                    <div class="row product-details">
                        {% if product.image.url %}
                        <div class="col-4" style="background-image: url({{ product.image.url }}); background-position: center; background-size: cover;"></div>
                        {% else %}
                        <div class="col-4" style="background-color:azure;">
                        </div>
                        {% endif %}
                        <div class="col-8">
                            <p class="card-text">{{ product.category }}<br>{{ product.description }}</p>
                        </div>
                    </div>
                    <form action="{% url 'add_to_cart' product.id %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="row product-purchase">
                            <div class="col-4">
                                <p>£{{ product.price }}</p>
                            </div>
                            <div class="col-8">
                                <p>Select Quantity <input class="product-quantity" type="number" name="quantity" value="1" min="1" max="50"
                                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" style="width: 50px;"></p>  
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn product-add-to-cart col-12" value="Add to Cart">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}