{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row align-items-center">
        <div class="col-12 col-lg-8 offset-lg-2">
            <h1>This is the Products Page</h1>
            
            {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-left" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
                <div class="card-body">
                    <h3>{{ product.name|title }}</h3>
                    <p class="card-text">{{ product.description }}</p>
                    <p><strong>£{{ product.price }}</strong></p>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}