{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-row">
        <div class="col-12 col-md-10 offset-md-1">
            {% if category %}
            <h1>{{ category.friendly_name }}</h1>
            {% else %}
            <h1>All Products</h1>
            {% endif %}
            <!-- Filter and sort -->
            <div class="row">
                <a class="btn btn-sm filter-sort-button" data-bs-toggle="collapse" href="#collapse-search" role="button"
                    aria-expanded="false" aria-controls="collapse-search">
                    Filter and Order
                </a>
            </div>
            <div class="collapse" id="collapse-search">
                <div class="card card-body filter-sort">
                    <form action="" method="POST" id="order-search" name="order-search">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <label for="filter-category" class="form-label search-box-label">Select
                                    Category:</label>
                                <select name="filter-category" class="form-select" aria-label="Select Category">
                                    <option value="0">All Categories</option>
                                    {% for category in categories %}
                                    {% if category.id == selected_category %}
                                    <option value="{{ category.id }}" selected>{{ category.friendly_name }}</option>
                                    {% else %}
                                    <option value="{{ category.id }}">{{ category.friendly_name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-3 ms-lg-4">
                                <label for="filter-style" class="form-label search-box-label">Select Style:</label>
                                <select name="filter-style" class="form-select" aria-label="Select Style">
                                    <option value="0">All Styles</option>
                                    {% for style in styles %}
                                    {% if style.id == selected_style %}
                                    <option value="{{ style.id }}" selected>{{ style.friendly_name }}</option>
                                    {% else %}
                                    <option value="{{ style.id }}">{{ style.friendly_name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-2 mt-sm-2 mt-lg-4 ms-lg-4 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sort-radio" id="sort-lh"
                                        value="1" checked>
                                    <label class="form-check-label search-box-label" for="flexRadioDefault2">
                                        £ Low to High
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sort-radio" id="sort-hl"
                                        value="2">
                                    <label class="form-check-label search-box-label" for="flexRadioDefault2">
                                        £ High to Low
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 col-lg-1 ms-lg-4 col-orders-toolbar">
                                <input type="submit" class="btn btn-success search-buttons">
                            </div>
                            <div class="col-12 col-lg-1 ms-lg-4 col-orders-toolbar">
                                <a href="{% url 'products' %}" class="btn btn-secondary search-buttons">Reset</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- End filter and sort -->
            <div class="row justify-content-around top-margin">
                {% for product in products %}
                <div class="card col-12 product">
                    <div class="row">
                        <div class="col product-name">
                            <h3>{{ product.name|title }}</h3>
                        </div>
                    </div>


                    <div class="row product-details">
                        {% if product.image %}
                        <div class="col-4"
                            style="background-image: url({{ product.image.url }}); background-position: center; background-size: cover;">
                        </div>
                        {% else %}
                        <div class="col-4"
                            style="background-image: url({{ MEDIA_URL }}no-image-found.png); background-position: center; background-size: cover;">
                        </div>
                        {% endif %}
                        <div class="col-8">
                            <p class="card-text">{{ product.description|truncatewords:25 }}<br>
                                <a class="btn btn-sm btn-primary" href="{% url 'product_details' product.id %}">View
                                    details</a>
                            </p>

                        </div>
                    </div>
                    <form action="{% url 'add_to_cart' product.id %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="row product-purchase">
                            <div class="col-4">
                                <p style="margin-top: 4px;">£{{ product.price }}</p>
                            </div>
                            <div class="col-8">
                                <p>Select Quantity <input class="product-quantity" type="number" name="quantity"
                                        value="1" min="1" max="50" data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}" style="width: 50px;"></p>
                            </div>
                            {% if user.is_staff %}
                            <div class="col-12">
                                <a href="{% url 'edit_product' product.id %}"
                                    class="btn product-add-to-cart col-12">Edit</a>
                            </div>
                            {% else %}
                            <div class="col-12">
                                <input type="submit" class="btn product-add-to-cart col-12" value="Add to Cart">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}